/** Account CSS */

#my-account {

  .vc_tta-style-modern .vc_tta-tab.vc_active>a {
    background-color: $red-hover;
    color: $white-font;
    border: none;
  }

  .vc_tta-style-modern .vc_tta-tab>a {
    background-color: $red;
    color: $white-font;
    border: none;
  }

  .vc_tta-style-modern .vc_tta-tab>a:hover {
    background-color: $red-hover;
    color: $white-font;
  }

  span.vc_tta-title-text {
    margin-left: 1em;
  }

  .vc_tta-icon.fas {
    margin-left: 1em;
  }

  .woocommerce-Button.btn.btn-primary.mt-2 {
    background-color: $red;
    color: $white-font;
    border: $red;
    padding: 1em 2em;
    display: block;
  }

  .woocommerce-Button.btn.btn-primary.mt-2:hover {
    background-color: $red-hover;
    border: $red-hover;
  }

  .woocommerce-info {
    border-top-color: $red;
  }

  .woocommerce-info::before {
    color: $red;
  }

  .vc_tta-panels {
    border: none;
    background-color: $black-background;
    color: $white-font;

    a {
      color: $red;
    }
    a:hover {
      color: $red-hover;
    }
  }
}
