/** Global CSS */

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.mailpoet_form_close_icon {
  background-color: #ffffff;
}

.center-container {
  margin: 0 auto;
  display: block;
}

.watch-trailer a {
  color: $white-font !important;
}

.watch-trailer a:hover {
  color: $red !important;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}
