/** Nav */
body {
  header {
    &#masthead {
      background-color: transparent;
      padding: 0.74rem 1rem;
      position: absolute;
      z-index: 999;
      width: 100%;
      top: 30px;

      .nav-link {
        width: 169px;
        height: 50px;
        display: flex;
        border: 3px solid #F90000 !important;
        justify-content: center;
        align-items: center;
        color: #F2F2F2 !important;
        font-size: 18px;
        padding-right: 0;
        transition: 1.2s;
      }

      .nav-link:hover {
        border: 3px solid #fff !important;
        color: #F90000 !important;
        transition: 1.2s;
      }
    }
  }
}

#menu-header-menu {
  li:nth-child(n+2) {
    margin-left: 5px;
    margin-right: 5px;
  }
  li:nth-child(1) {
    margin-right: 5px;
  }
}


#menu-header-menu {

  #menu-item-190,
  #menu-item-345 {
    display: none;
  }

}

.logged-in {
  #menu-header-menu {

    #menu-item-190,
    #menu-item-345 {
      display: initial;
    }

  }
}
