/** Nav */
body {
  header {
    &#masthead {
      background-color: transparent;
      padding: 0.74rem 1rem;
      position: absolute;
      z-index: 999;
      width: 100%;
      top: 30px;
    }
  }
}
